
body {
  background: url(./images/on-the-water.jpg) no-repeat center center fixed;
  background-size: cover;
  color: white;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.header,
.food-images,
.footer, 
.main {
  background-color: rgba(3, 3, 3, 0.8);
  border-radius: 25px;
  width: 80vw;
}


.header {
  display: flex;
  margin-top: 20px;
  justify-content: center;

}



.h1,
.logo-container,
.tabs {
  width: 25vw;
}




.h1 {
  font-size: 4rem;
  font-family: 'Ruthie', 'Kolker Brush', Sansita Swashed, cursive;
  text-align: center;
  margin-left: 10px;

}

.logo-container {
  display: flex;
  justify-content: center;
  align-self: center
}

.logo {
  opacity: 12%;
}

.tabs {
  align-self: flex-end;
  padding-bottom: 30px;
  display: flex;
  gap: 25px;
}


.tab {
  font-family: 'Ruthie', 'Kolker Brush', Sansita Swashed, cursive;
  font-size: 2.6rem;
  color: white;
  text-decoration: none;
  
}

.tab:hover {
  cursor: pointer;
  font-weight: 900;
  color: rgb(72, 123, 190);
}

h2 {
  text-align: center;
}

.current-page {
  display: flex;
  flex-direction: column;
  
}

.current-page p {
  font-size: 1.5rem;
  padding-left: 40px;
}

.spacer {
  flex: 0 0 150px;
}

.food-images {
  display: flex;
  
  justify-content: space-evenly;
}

.food-images img {
  height: 200px;
  width: 150px;
  margin: 50px 0;
  overflow: auto;
}

.footer { 
  /* grid-area: footer; */
  
  padding: 10px 0; 
  text-align: center;
  background-color: rgba(3, 3, 3, 0.8);
  
}

.footer a {
  text-decoration: none;
  color: rgb(72, 123, 190);
}

@media only screen and (max-width: 1200px) {
  .h1,
  .logo-container,
  .tabs {
    width: auto;
  }
}

@media only screen and (max-width: 1000px) {
  .tabs {
    flex-direction: column;
    align-items: center;
  }

  .h1,
  .logo-container,
  .tabs {
    width: 25vw;
  }
}

